/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #409EFF
$textColor = #222
$borderColor = #f5f5f5
$codeBgColor = #282c34

$homePageWidth = 1280px
